*{
  margin : 0;
  list-style :none;
  text-decoration : none;
}
.Loading_box{
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
}

.title_img {
  height: 70px;
  position: absolute;
}

@media(min-width : 500px){
  .wrap{
    margin: 0 10vw;
  }
  .search_select_box button{
    font-size: 20px;
  }
  .title_img {
    top: 15px;
    left: 10vw;
  }
 
}

@media(max-width : 500px){
  .wrap{
    margin: 0 10vw;
  }
  .search_select_box button{
    font-size: 15px;
  }
  .title_img {
    top: 15px;
    left: 1px;
  }
}

.title_box { 
  margin: 0 auto;
  height: 100px;
  line-height: 3.2;
  background-color: #25252b;
  color: white;
  text-align: center;
  position: relative;
}