*{
  margin : 0;
  list-style :none;
  text-decoration : none;
}
.container {
  min-height: 1000px;
}
.Loading_box{
  margin: 0 auto;
  text-align: center;
  padding-top:742px;
}
.title_box {
  position: relative;
}
.title_img {
  height: 70px;
  position: absolute;
}

.mode {
  position: absolute;
  top: 0;
  right: 0;
}

.mode p svg {
  height: 30px;
  width: 30px;
}

.on_container {
  background-color: #1b1d25;
  color: white;
}

@media(min-width : 500px){
  .wrap{
    margin: 0 10vw;
  }
  .search_select_box button{
    font-size: 20px;
  }
  .title_img {
    top: 15px;
    left: 10vw;
  }

  .mode {
    top: 35px;
    right: 10vw;
  }
 
}

@media(max-width : 500px){
  .wrap{
    margin: 0 10vw;
  }
  .search_select_box button{
    font-size: 15px;
  }
  .title_img {
    top: 15px;
    left: 1vw;
  }

  .mode {
    top: 35px;
    right: 7vw;
  }
}

.title_box { 
  margin: 0 auto;
  height: 100px;
  line-height: 3.2;
  background-color: #25252b;
  color: white;
  text-align: center;
  position: relative;
}

