.background_color {
  background-color: #000;
  height: 497px;
}

.background_img{
  background-repeat: no-repeat;
  background-position: center;
  height: 497px;
  overflow: hidden;
  margin: 0 auto;
  box-sizing: border-box;
}

.movie_info_box {
  margin: 0 auto;
  margin-top: 70px;
  height: 427px; 
  color: white;

}

.movie_info{
  float: left;
}

.movie_img_box{
  float: right;
}

.title {
  text-shadow: 2px 2px 2px gray;
}

.movie_year_box {
  height: 50px;
  margin-top: 10px;
}
.movie_year_box > p{
  border: 1px solid none;
  border-radius: 8px;
  display: inline-block;
  font-size: 1rem;
  padding: 5px 10px;
  background-color: #40b53ebf;
}

.movie_genres_box{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 120px;
  justify-content: flex-start;
}

.movie_genres_box p {
  border: 1px solid none;
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 8px;
  background-color: gray;
  margin-bottom: 20px;
}

.like_count_box,
.rating_box {
  border: 1px solid none;
  margin-bottom: 20px;
  width: 74px;
  padding: 5px 10px;
  border-radius: 8px;
  text-align: center;
}
.like_count_box {
  background-color: #df5b5bf7;

}
.rating_box{
  background-color: #5bbafac9;

}
.like_count_box h2,
.like_count_box svg, 
.rating_box h2,
.rating_box h2 svg{
  display: inline-block;
}

.like_count_box h2,
.rating_box h2{
  margin-left: 10px;
}


/* Information Box */
.information_box{
  padding: 30px;
  margin: 0 auto;
}
/* 너비 반응형 */
.summary_box {
  width: 1294px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.summary_title_box{
  border: 1px solid #000;
  border-radius: 5px 5px 0 0;
  padding: 16px 20px; 
  background-color: #E7F1FF;
  color: #0C63E4;
}

.summary_title_box p {
  font-size: 26px;
}

.summary_content_box{
  border: 1px solid #000;  
  border-radius: 0 0 5px 5px;
  border-top: none;
  padding: 16px 20px; 
}

.date_and_run {
  width: 1290px;
  margin: 0 auto;
  overflow: hidden;
  
}

.date_box, .runtime_box {
  float: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}



.date_box p,
.runtime_box p,
.runtime_box svg {
  margin-left: 10px;
  font-size: 15px;
}

.backPage {
  float: right;
}
.date_box p, .runtime_box p{
  margin-top: 3px;
  font-weight: 600;
}

.back_btn {
  height: 50px;
  width: 65px;
  background-color: #808095;
  color: white;
  border: none;
  border-radius: 5px;
}

.back_btn:hover{
  background-color: #a3bfe7;
  color: #000;
}

.on_summary_title_box{
  background-color: #031633;
  color: #6ea8fe;
  border-color: #464c53;
}

.on_summary_content_box {
  border-color: #464c53;

}


@media (max-width : 576px) { /* mobile */
  
  .background_img{
    background-size: 100% 100%;
  }

  .movie_info_box {
    margin-top: 0;
    height: 497px;
  }

  .title {
    text-align: center;
    width: 100vw;
    margin-top:70px;
  }

  .movie_year_box{
    text-align: center;
    width: 100vw;
    margin-top: 40px;
  }

  .movie_genres_box {
    margin-top: 40px;
    margin-bottom: 0;
  }

  .like_and_rating{
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  .movie_genres_box{
    justify-content: center;
    
  }

  .background_img{
    height: 580px;
  }
  .background_color {
    height: 580px;
  }

  .summary_box {
    width: 95vw;
    margin-bottom: 10px;
  }
  .information_box {
    padding: 10px 0 10px 0;
  }
  .date_and_run {
    width: 95vw;
  }
}


@media (min-width : 576px) {
  .background_img{
    background-size: 540px 497px;
  }
  .movie_info_box {
    width: 480px; /* -60 */
  }
  .summary_box {
    width: 466px;
  }
  .date_and_run {
    width: 466px;
  }
}

@media (min-width : 768px) {
  .background_img{
    background-size: 720px 497px;
  }
  .movie_info_box {
    width: 660px; /* -60 */
  }
  .summary_box {
    width: 658px;
  }
  .date_and_run {
    width: 658px;
  }
}

@media (min-width : 992px) {
  .background_img{
    background-size: 960px 497px;
  }
  .movie_info_box {
    width: 900px; /* -60 */
  }
  .summary_box {
    width: 882px;
  }
  .date_and_run {
    width: 882px;
  }
}

@media (min-width : 1200px) {
  .background_img{
    background-size: 1140px 497px;
  }
  .movie_info_box {
    width: 1080px; /* -60 */
  }
  .summary_box {
    width: 1090px;
  }
  .date_and_run {
    width: 1090px;
  }
}

@media (min-width : 1400px) {
  .background_img{
    background-size: 1320px 497px;
  }
  .movie_info_box {
    width: 1260px; /* -60 */
  }

  .summary_box {
    width: 1290px;
  }

  .date_and_run {
    width: 1290px;
  }

}







