*{
  margin : 0;
  list-style :none;
  text-decoration : none;
}
.Loading_box{
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
}

.title_img {
  height: 70px;
  position: absolute;
}

@media(min-width : 500px){
  .wrap{
    margin: 0 10vw;
  }
  .search_select_box button{
    font-size: 20px;
  }
  .title_img {
    top: 15px;
    left: 10vw;
  }
 
}

@media(max-width : 500px){
  .wrap{
    margin: 0 10vw;
  }
  .search_select_box button{
    font-size: 15px;
  }
  .title_img {
    top: 15px;
    left: 1px;
  }
}

.title_box { 
  margin: 0 auto;
  height: 100px;
  line-height: 3.2;
  background-color: #25252b;
  color: white;
  text-align: center;
  position: relative;
}

.container {
  overflow: hidden;
  box-sizing: border-box;
}

.search_box {
  height: auto;
  margin-bottom: 30px;
}

.search_input_box{
  height: 7vh;
  margin-top: 30px;
}
.search_input_box .search_input {
  width: 200px; 
  height: 65%;
  border-radius: 10px 0 0 10px;
  font-size: 18px;
  padding-left: 10px;
}
.search_input_box .reset_btn {
  width: 80px; 
  height: 65%;
  border-radius: 0 10px 10px 0;
  font-size: 18px;
  background-color: gray;
  color: white;
  border: none;
}

.search_select_box {
  height: auto;
  flex-wrap: wrap;
  border: 3px solid #777;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #f2f0f0;
}

.search_select_box button {
  flex: 1;
  padding: 8px 16px;
  border-radius: 7px;
   border: none;
  
}

.search_select_box button:hover {
  color: red;
}

.movie_container {
  overflow: hidden;
}

.selectedButton {
  background-color: #4067f6;
  color: white;
}

/* rank check_box */

.check_input{
  appearance: none;
  position: relative;
  border: max(2px, 0.1em) solid gray;
  border-radius: 1.25em;
  width: 2.25em;
  height: 1.25em;
}

.check_input::before{
  content: "";
  position: absolute;
  left: 0;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  transform: scale(0.8);
  background-color: gray;
  transition: left 250ms linear;
}

.check_input:checked{
  background-color: rgb(151, 188, 240);
  border-color: rgb(62, 164, 238);
}
.check_input:checked::before{
  background-color: white;
  left: 3.7em; /* 눌렀을 때 이동하는 원의 길이 */
}

.check_input:disabled{
  border-color: lightgray;
  opacity: 0.7;
  cursor: not-allowed;

}

.check_input:disabled:before{
  background-color: lightgray;
}


.check_input:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) solid rgb(71, 255, 237);
}

.check_input:enabled:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) rgb(130, 169, 236);
}

label {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

/*  */

.middle_box {
  height: 50px;
  overflow: hidden;
  padding: 10px 10px 0 10px;
}

.rank_box {
  float: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.rank_box input{
  height: 30px;
  width: 80px;
  line-height: 10;
}

.rank_box label {
  font-size: 23px;
  margin-left: 10px;
  margin-top: 6px;
}